// 斜線
.slash {
  width: 20px;
  height: 20px;
  position: relative;
  transition: opacity .3s ease-in-out;
  &::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1px;
    transform-origin: top;
    transform: rotate(45deg) translateX(-50%) translateY(-50%);
    transition: height .3s ease-in-out;
  }
  &.white{
    &::after{
      background-color: #fff;
    }
  }
  &.black{
    &::after{
      background-color: #000;
    }
  }
  &.show {
    &::after{
      height: 15px;
    }
  }
  &.hide {
    &::after{
      height: 0px;
    }
  }
}