@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Noto+Sans+TC:wght@400;700&family=Playfair+Display:wght@400;500;600&display=swap');

.font-Mulish {
  font-family: 'Mulish', sans-serif;
}

.font-Noto {
  font-family: 'Noto Sans TC', sans-serif;
}

.font-Playfair {
  font-family: 'Playfair Display', serif;
}
