// 圖片滾動視差

.scroll-wrap {
  width: 100%;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  img {
    max-width: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .5s ease-in-out;
  }
  p {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform .5s ease-in-out;
  }
}