// 圖片滾動視差

.scroll-wrap {
  width: 100%;
  overflow: hidden;
}

.scroll-container {
  position: relative;
  padding-bottom: 66.6%;
  img {
    height: 125%;
    max-width: none;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    left: 0;
    transition: transform .5s ease;
  }
}